<!DOCTYPE html>
<html>
  <head>
    <title>Target: Exchange Rates</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1>Currency pairs</h1>

  <!--Parse symbols-->
  <ul>
    <%@lst_symbols.each do |symbol|%>
    <a href="/<%=symbol%>">
      <li>Convert 1 <%=symbol%> to... </li>
    <%end%>
  </ul>

  </body>
</html>
